<div class="row">
  <h1 class="text-center">Your Todo Lists</h1>
  <br>

  <p><%= link_to "Create New LIST", new_list_path, class: "btn btn-success btn-lg" %></p>

  <div class="lists">

    <% @lists.each do |list| %>
      <%= render partial: 'shared/list', locals: { list: list } %>
    <% end %>
  </div>

  <%= render "shared/view_changes" %>
</div>
