// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change-views {
  margin-top: 9%;
}

.list {
  margin-top: 9%
}

.list-title {
  text-decoration: underline;
  font-weight: bold;
}

.task {
  margin-top: 3%;
}

.list {
  border: 3px solid blue;
}

.tasks-hidden {
  background-color: gray;
}
